API_KEY_GENERATIVEAI=
JWT_SECRET_KEY=
MONGO_URI=
sender_email=
sender_password=
REDIS_URL=
path_google_application_credentials_json=
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_SECRET_KEY=
RABBITMQ_USER=
RABBITMQ_PASS=
MERCADOPAGO_SECRET_KEY=
MERCADOPAGO_WEBHOOK_SECRET=